@use "@angular/material" as mat;
@use "_theme-colors.scss" as theme-colors;
@include mat.core();

.dark {
  @include mat.all-component-colors(theme-colors.$dark-theme);
}

html {
  height: 100%;
  @include mat.all-component-themes(theme-colors.$light-theme);
}

body {
  height: 100%;
  margin: 0;
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
